<div class="collection-page">
  {% paginate collection.products by 4 %}
    <select id="sort-by">
      {% assign sorty_by = collection.sort_by | default: collection.default_sort_by %}
      {% for option in collection.sort_options %}
        <option
          value="{{ option.value }}"
          {% if option.value == sort_by %}
            selected="selected"
          {% endif %}
        >
          {{ option.name }}
        </option>
      {% endfor %}
    </select>
    <div class="row product-blog">
      {% for product in collection.products %}
        <div class="col-lg-6 col-md-6 blog-img">
          {% render 'product-item', product: product %}
        </div>
      {% endfor %}
    </div>
    {{ paginate | default_pagination }}
  {% endpaginate %}

</div>
